################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Road-Status-Alerter/.vs/Road-Status-Alerter
